.promo {
    width: 320px;
    height: 600px;
    margin: 0 auto 0 auto;
}

.promo__container {
    background-color: #F5F5F5;
    width: 292px;
    height: 586px;
    margin: 14px auto 0 auto;
    border-radius: 10px;
}

.promo__title {
    font-size: 29px;
    line-height: 37px;
    font-weight: 400;
    letter-spacing: -1.16px;
    text-align: center;
    margin: 0;
    padding: 220px 0 0 0;
}

.promo__navbar {
    width: 258px;
    margin: 212px auto 0 auto;
    display: flex;
}

.promo__link {
    height: 26px;
    width: 82px;
    margin: 0 6px 0 0;
    padding: 0;
    background-color: #E8E8E8;
    border: none;
    border-radius: 3px;
    color: #000000;
    font-size: 10px;
    line-height: 26px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
    transition: opacity .4s linear;
    cursor: pointer;
}

.promo__link:last-of-type {
    margin: 0;
}

.promo__link:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {

    .promo {
        width: 768px;
        height: 854px;
    }

    .promo__container {
        width: 728px;
        height: 834px;
        margin: 20px auto 0 auto;
    }

    .promo__title {
        margin: 0 auto;
        width: 680px;
        font-size: 40px;
        line-height: 52px;
        font-weight: 400;
        letter-spacing: -1.6px;
        padding: 350px 0 0 0;
    }

    .promo__navbar {
        width: 308px;
        margin: 314px auto 0 auto;
        display: flex;
    }

    .promo__link {
        width: 96px;
        height: 36px;
        margin: 0 10px 0 0;
        font-size: 12px;
        line-height: 36px;
    }
    
}
