.about {
    width: 320px;
    margin: 0 auto 0 auto;
}

.about__title {
    margin: 70px auto 0 18px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.72px;
}

.about__container {
    border-top: 1px solid black;
    width: 284px;
    margin: 28px auto 0 auto;
}

.info:first-of-type {
    margin: 60px auto 0 auto;
}

.info {
    margin: 56px auto 0 auto;
}

.info__title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.72px;
}

.info__text {
    margin: 16px auto 0 auto;
    padding: 0;
    font-size: 11px;
    line-height: 16px;
}

.about__time-line {
    display: flex;
    margin: auto;
    width: 284px;
}

.about__green-line {
    margin: 60px 0 0 0;
    width: 100px;
    height: 35px;
    background-color: #2BE080;
    text-align: center;
}

.about__white-line {
    margin: 60px 0 0 0;
    width: 184px;
    height: 35px;
    background-color: #F2F2F2;
    text-align: center;
}

.about__week {
    font-size: 11px;
}

.about__span {
    margin: 21px auto 0 auto;
    font-family: 'SuisseIntl';
    font-size: 11px;
    color: #A0A0A0;
}

@media screen and (min-width: 768px) {

    .about {
        width: 768px;
        margin: 0 auto 0 auto;
    }

    .about__title {
        margin: 70px auto 0 50px;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: -0.88px;
    }

    .about__container {
        display: flex;
        width: 668px;
        margin: 23px auto 0 auto;
    }

    .info:first-of-type {
        margin: 70px 30px 0 0;
    }

    .info {
        width: 319px;
        margin: 70px 0 0 0;
    }

    .info__title {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -0.8px;
    }
    
    .info__text {
        margin: 22px auto 0 auto;
        font-size: 12px;
        line-height: 18px;
    }

    .about__time-line {
        width: 668px;
    }

    .about__green-line {
        margin: 93px 0 0 0;
        width: 140px;
        height: 36px;
    }

    .about__white-line {
        margin: 93px 0 0 0;
        width: 528px;
        height: 36px;
    }

    .about__week {
        font-size: 14px;
        margin: 9px auto 0 auto;
    }

    .about__span {
        margin: 23px auto 0 auto;
        height: 17px;
        font-size: 14px;
    }
}